/* .modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
} */
/* ///배경에 픽스를 주고 투명도를 준다. */

/* .RegisterModal {
  width: 40%;
  height: 70%;
  background-color: white;
  position: relative;
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
} */
/* //로그인 배경이다  */

/* .RegisterTitle {
  margin-top: 10px;
  font-size: 25px;
  color: #52b4d0;
  line-height: 2;
  text-align: center;
} */

/* .close {
  float: right;
  font-size: 25px;
} */

/* .modalContents {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 0 20px 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

/* input::placeholder {
  color: #999999;
}

.input {
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 9px 12px;
  outline: none;
  box-sizing: border-box;
} */

/* .titleText {
  margin-top: 15px;
  font-size: 16px;
  color: black;
  line-height: 2;
} */

/* .RegisterBtn {
  height: 40px;
  font-size: 14px;
  padding: 13px 30px;
  cursor: pointer;
  background-color: #52b4d0;
  color: white;
  line-height: 1px;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 3px;
  border-style: none;
} */

a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.noUser {
  text-decoration: underline;
}
